[submodule "home/.vim/neobundle.vim"]
	path = home/.vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "home/.zsh-syntax-highlighting"]
	path = home/.zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.tmux-powerline"]
	path = home/.tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "home/.peco-anyenv"]
	path = home/.peco-anyenv
	url = https://github.com/giginet/peco-anyenv.git
[submodule "home/.antigen"]
	path = home/.antigen
	url = git@github.com:zsh-users/antigen.git
