[submodule "home/.tmux-powerline"]
	path = home/.tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "home/.cache/dein/repos/github.com/Shougo/dein.vim"]
	path = home/.cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
