# generic
.DS_Store

# eclipse
.project
.pydevproject
.classpath
.settings

#for XCode
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
xcuserdata
DerivedData

# python
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
develop-eggs
eggs
fake-eggs
.installed.cfg
.mr.developer.cfg
*.pyc
*.pyo
.python-version

# for JetBrains
.idea

# vcs
.hg
.bzr
.svn

# vim
*.tmp*
PYSMELL*
.ropeproject
pysmell_exc.txt

.sass-cache

*.lock
.irb_history

# envdir
.envrc

# Git local setting
.gitconfig

# anyenv
.python-version
.ruby-version
