[user]
	name = giginet
	email = giginet.net@gmail.com
[color]
	status = auto
	diff   = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	editor = nvim
[merge]
	ff = only
[pull]
	rebase = true
[alias]
	br = branch --sort=-committerdate
	st = !"tig status"
	ci = commit
	co = checkout
	cp = cherry-pick
	discard = reset --hard HEAD
	sw = checkout -b
	pbcopy = !printf "$1" | pbcopy
	delete-merged = !"git branch --merged | grep -v '*' | xargs -I % git branch -d %"
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	force-push = "push --force-with-lease"
	pretty-log = !"git log --oneline -n 100 | emojify"
	gsub = !"f() { git grep -l \"$1\" | xargs sed -i '' -e \"s/$1/$2/g\"; }; f"
	browse-pr = !"f() { hub browse -- \"pull/`git rev-parse --abbrev-ref HEAD`\"; }; f"
[github]
	user = giginet
[hub]
	protocol = ssh
[ghi]
	token = !security find-internet-password -a giginet -s github.com -l 'ghi token' -w
[include]
	path = ~/.gitconfig.local
[rerere]
	enabled = true
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[includeIf "gitdir:~/.ghq/github.com/"]
	path = ~/.gitconfig.public
[includeIf "gitdir:~/.ghq/github.com/cookpad/"]
	path = ~/.gitconfig.work
