format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$direnv
"""
right_format = """
$ruby \
$python \
$swift \
${custom.xcode} \
$docker_context \
"""

add_newline = false

[git_branch]
ignore_branches = ['main']

[git_commit]
tag_disabled = false
tag_symbol = ""

[git_metrics]
disabled = false

[git_status]
format = '$ahead_behind$modified$conflicted'
ahead = '[⇡](bold yellow) '
behind = '[⇣](bold yellow) '
up_to_date = '[](bold green) '
modified = '[](bold yellow) '
conflicted = '[](bold yellow) '

[docker_context]
format = '[$symbol$context]($style)'
symbol = '󰡨 '
style = 'cyan bold'

[ruby]
symbol = ''
format = '[$symbol ($version)]($style)'
version_format = '${raw}'

[python]
symbol = ' '
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
version_format = '${raw}'
style = 'yellow bold'

[swift]
format = '[$symbol ($version)]($style)'
style = 'bold 202'
version_format = '${raw}'
symbol = ''

[custom.xcode]
command = "/usr/bin/xcrun xcodebuild -version | head -n 1 | awk '{print $2}'"
description = "Show the current Xcode version"
when="exec $XDG_CONFIG_HOME/starship/check-using-xcode.sh"
symbol = 'Xcode'
style = 'bold cyan' 
format = '[$symbol $output]($style)'
os = 'macos'
